<section class="slider-wrapper">
	<div  class="slider">
		<div class="slide">
			<img src="http://s.glbimg.com/es/ge/f/original/2014/11/12/fellipe1.png" />
		</div>
		<div class="slide">
			<img src="http://s.glbimg.com/es/ge/f/original/2014/11/06/caio.jpg" />
		</div>
		<div class="slide">
			<img src="http://s.glbimg.com/es/ge/f/original/2014/11/12/eduardo.jpg" />
		</div>
	</div>
</section>